*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.center-self {
	width: 30%;
	margin: 1% auto 1% auto;
}
html,body{
	height: 100%;
	font-family: sans-serif;
	color: inherit;
}
/*Wrapper*/
.wrapper{
	min-height: 100%;
	background-image: url('images/amazing.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
.main{
	padding-top: 50px;
	height: 100%;
	padding-bottom: 160px;
	overflow: auto;
}


/*footer*/

.footer{
	height: 110px;
	width: 100%;
	position: relative;
	background:#007acc;
	margin-top: -125px;
	clear: both;
	padding-top: 1%;
	color: white;
}
.footer-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
	grid-column-gap: 5%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;

}
.footer-grid ul li a{
	color: wheat;
}
.footer-grid ul li a:hover{
	color: white;
	font-style: italic;
	text-shadow: 1px 1px 1px #333;
}
.footer-grid .no-style li{
	list-style-type: none;
}
.title-info{
	margin-bottom: 1%;
	border-bottom: 2px solid rgb(255, 255, 255);
	padding: 1%;
}
/*Navigation*/
.navigation{
	width: 100%;
	height: 50px;
	text-align: center;
	box-shadow: 0px 1px 3px 0px #333;
	background-color:#007acc;
	position: fixed;
	top: 0;
	margin-bottom: 1%;
	z-index: 10;
}
button,.button{
padding: 5px;
height: 35px;
border: none;
box-shadow: 1px 1px 1px #aaa;
border-radius: 1px;
background: #007acc;
color: white;
font-size: 18px;
transition: all ease-in-out .1s;
}
button:hover,.button:hover{
	background: #1280c9;
	box-shadow: 1px 2px 8px rgb(1, 31, 65);
}
.navigation ul li{
	float: left;
	list-style: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 150px;
	background: #007acc;

}
.navigation ul li:hover{
	background: #13334D;
}
.navigation ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #333;
	font-family: sans-serif;
	color: white;
}

/* Navigation toggle Icon */
.nav-icon{
	display: none;
	float: right;
	position: relative;
	right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.nav-icon .bar1,.nav-icon .bar2,.nav-icon .bar3{
	width: 35px;
	height: 5px;
	background: #333;
	margin: 6px 0px;

}

.site-icon{
	float: left;
	margin-right: 5%;
	font-size: 2em;
	line-height: 40px;
	height: 40px;
	text-align:center;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #aaa;
	position: relative;
	left: 1%;
	color:white;
	font-family: 'Courier New', Courier, monospace;
}
.tags {
	display: grid;
	grid-column-gap: 5px;
	grid-template-columns: repeat(4,1fr);
	margin: 1%;
}
.tags span {
	padding: 1%;
	border-radius: 1%;
	background: #ddd;
	cursor: pointer;
}
.tags span:hover{
	background-color: #abfacc;
}

/*FORM STYLES */
.form-container{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	background: #f5f2f2;
	padding: 1%;
	border-radius: 1%;
	margin-top: 2%;
}
.form-input{
	margin: 5px;
}
.text-white{
	color: white;
}
.text-input{
	width: 100%;
	height: 30px;
	font-size: 16px;
	font-family: 'ubuntu';
	background: rgb(216, 247, 255);
	border: none;
	border-radius: 5px;
	padding-left: 5px;
}
.text-input:hover{
	border-color: #007acc;
}
.textarea{
	width: 98%;
	padding: 1%;
	font-size: 16px;
}
.radio-input{
	width: 20px;
	height: 20px;
}
label{
	font-weight: bold;
}
.text-center{
	text-align: center;
}
.inline-form{
	display: inline-block;
}
/* text containers */
.text-container{
	margin-top: 5px;
	width: 90%;
	padding: 2%;
	margin-right: auto;
	margin-left: auto;
	background-color:#eef6fc;
}
.page-header-container{
	width: 100%;
	height: 400px;
	background-image: url('../images/amazing.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;

}
.page-header-container img{
	width: 100%;
	height: 100%;

}
hr{
	opacity: .2;
	z-index: 0;
}
.grid > div {
	text-align: center;
	box-shadow: 1px 2px 2px #ddd;
}
.grid > div:hover{
	background: #f3f7fa;
	transition: all .25s ease-in-out;

}
.topic { font-weight: bold;
	border-bottom: 2px solid #007acc;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	 grid-gap: 1em;
	 padding: 1%;
	 width: 90%;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 5%;
	 grid-auto-rows: minmax(100px,auto);
	
	
}
.col1{
	grid-area: "col1";
	border-radius: 3%;
	background: #e8eef1;
	min-height: auto;
	text-align: center;
	box-shadow: 1px 1px 8px #aaa;
}
.col2{
	grid-area: "col2";
	border-radius: 3%;
	background: #e8eef1;
	min-height: 200px;
	text-align: center;
	box-shadow: 1px 1px 8px #aaa;
}
.col3{
	grid-area: "col3";
	border-radius: 3%;
	background: #e8eef1;
	min-height: 200px;
	text-align: center;
	box-shadow: 1px 1px 8px #aaa;
	
}
.grid div img{
	width: 80%;
	height: 50%;
	position: relative;
	margin: auto;

}
.bold{
	font-size: 24px;
	line-height: 30px;
}
.grid-2-cols{
	display: grid;
	grid-template-columns: 1fr 5fr;
}
.profile-avatar{
	height: 250px;
	width: 250px;
	border-radius: 60%;
	background: #aaa;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 1px 1px 1px rgb(176, 215, 233);
	z-index: 0;
}
.count{
	color: white;
	background-color: rgb(110, 252, 117);
	border-radius: 30%;
	margin: 1%;
	padding: 1%;
	font-weight: bolder;
	font-size: 16px;
	box-shadow: 1px 2px 4px yellowgreen;
}
.count:hover{
	background: rgb(116, 191, 253);
	opacity: .9;

}
.side-content{
	border: 1px solid rgba(161, 201, 238, 0.747);
	padding-top: 2%;
}
/*RESPONSIVENESS MOBILE DEVICE*/
@media screen and (max-width: 666px) {
	.nav{
		display: none;
	}
	.change ul li{
		width: 100%;
	}
	.change ul li ul li{
		width: 100%;
		animation: toggleMenu .45s ease-in .01s;
	}
	.nav-icon{
		display: inline-block;
		position: absolute;
	}
	.form-container{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		background: #f5f2f2;
		padding: 1%;
		border-radius: 2%;
	}
	.grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px,auto);
		padding-bottom: 30%;
		clear: both;
	}
	.footer{
		height: 28%;
		margin-top: -28%;
		clear: both;
	}
	.footer-grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 2%;
		grid-auto-rows: minmax(100px,auto);

	}
	.footer{
		height: 350px;
		margin-top: -350px;
	}
	.contact-info{
		text-align: center;
	}
	.side-nav{
		display: none;
	}
	.grid-2-cols{
		display: grid;
		grid-template-columns: 1fr;
	}
	.user-profile-menu{
		float: left;
		position: relative;
		left: 10%;
	}
	.profile-avatar{
		display: none;
	}
	.change{
		display: block;
		position: relative;
	}
}
@media screen and (max-width:400px){
	.grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px,auto);
		padding-bottom: 30%;
		clear: both;
	}
	.footer{
		height: 300px;
		margin-top: -300px;
	}
	.main{
		padding-bottom: 320px;
	}
}
.p > img{
	width: 100%;
	background-size: 100%;
}
.comment{
	display: none;
	border-radius: 10%;
	height: 80px;
	transition: .45s all ease-in-out;
}
.comment-toggle{
	cursor: pointer;
	background: #222;
	color: #e8eef1;
	display: inline-block;
	border-radius: 5%;
	margin-left: 10%;
	margin-top: 20px;
}
.comment-toggle:hover{
	background: #13334D;
}
.prof-container {
	width: 80%;
	margin: 1% auto 1% auto;
}
.heading{
    font-weight: bold;
}
.border-bottom {
	border-bottom: 2px solid #13334D;
}
.meetup-header{
	background-image: url('../images/meetup1.jpeg');
	height: 300px;
	color: black;
}
/* .bg-img{
	background-image: url('../images/amazing.jpeg');
	background-size: 100%;
	background-repeat: no-repeat;
} */
.error-span {
	color: brown;
}
i {
	font-size: 36px;
	margin: 1%;
	cursor: pointer;
}
i:hover{
	color:#007acc;
}
