*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	font-family: sans-serif;
}
/*Wrapper*/
.wrapper{
	min-height: 100%;
}
.main{
	height: 100%;
	padding-bottom: 150px;
	overflow: auto;
}

/*footer*/

.footer{
	height: 100px;
	width: 100%;
	position: relative;
	background:#007acc;
	margin-top: -100px;
	clear: both;
}

/*Navigation*/
.navigation{
	width: 100%;
	height: 50px;
	text-align: center;
	box-shadow: 0px 1px 3px 0px #333;
	background:#007acc;
	margin-bottom: 1%;
	opacity: .9;
	position: sticky;
	top: 0;
}
button,.button{
padding: 5px;
height: 35px;
border: none;
box-shadow: 1px 1px 1px #aaa;
border-radius: 4px;
background: #007acc;
color: white;
font-size: 18px;
transition: all ease-in-out .1s;
}
button:hover,.button:hover{
	background: #1280c9;
	box-shadow: 1px 2px 8px rgb(1, 31, 65);
}
.navigation ul li{
	float: left;
	list-style: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 80px;
	background: #007acc;

}
.navigation ul li:hover{
	background: #13334D;
}
.navigation ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #333;
	font-family: sans-serif;
	color: white;
}

.navigation ul li ul li{
	display: none;
	width: 150px;
}
.navigation ul li:hover ul li{
	display: block;
}
/* Navigation toggle Icon */
.nav-icon{
	display: none;
	float: right;
	position: relative;
	right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.nav-icon .bar1,.nav-icon .bar2,.nav-icon .bar3{
	width: 35px;
	height: 5px;
	background: #333;
	margin: 6px 0px;

}

.site-icon{
	float: left;
	margin-right: 5%;
	line-height: 40px;
	height: 40px;
	text-align:center;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #aaa;
	position: relative;
	left: 1%;
	color:white;
	font-size: 28px;
}
@media screen and (max-width: 600px) {
	.navigation .nav ul{
		display: none;
	}
	.nav-icon{
		display: inline-block;
	}
	.nav-collapse{
		display: block;
		position: absolute;
		top: 55px;
	}

}
/*FORM STYLES */
.form-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #f5f2f2;
	padding: 1%;
	padding-top: 0;
	border-radius: 2%;
}
.form-header{
	border-radius: 2%;
	padding: 1%;
	background-color:#f2f7fa;
	color: #333;
}
.form-input{
	margin: 5px;
}
.text-input:hover{
border-color: #007acc;
}
.text-input{
	width: 100%;
	height: 25px;
}
.textarea{
	width: 98%;
	padding: 1%;
}
.link-button{
	text-decoration: none;
	color: white;
}
.text-center{
	text-align: center;
}
.inline-form{
	display: inline-block;
}
/* text containers */
.text-container{
	margin-top: 5px;
	width: 90%;
	padding: 2%;
	margin-right: auto;
	margin-left: auto;
	background-color:#eef6fc;
}
hr{
	position: relative;
	z-index: -1;
	opacity: .1;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
/*
	CONTENT STYLES
*/
.head-content{
	padding: 1%;
	background: rgb(226, 229, 255);
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #53acff;
	background-color: rgba(47, 172, 255, 0.432);
	z-index: 1;
	display: none;
}
.modal-content{
	background: #f5f2f2;
	margin-top: 20%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	text-align: center;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.close {
	position: relative;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	right: 10px;
	cursor: pointer;
  }
/*SLIDE SHOW*/	
*{
	box-sizing: border-box;
}  
.slideshow-container{
	max-width: 100%;
	position: relative;
	margin: auto;
	height:500px;
}
.slide{
	display: none;
}
.prev,.next{
	position: absolute;
	top: 50%;
	margin-top: -22px;
	padding: 16px;
	font-weight: bold;
	font-size: 18px;
	color: red;
	width: auto;
	cursor: pointer;
	border-radius: 0 4px 4px 0;
	user-select: none;
	transition: 0.6s ease;

}
.prev{
	right: 0;
	border-radius: 4px 0 0 4px;
}
.prev:hover,.next:hover{
	color: #333;
}
.bars{
	width: 40px;
	height: 8px;
	display: inline-block;
	margin: 0 2px;
	background-color: #333;
	cursor: pointer;
	transition: background-color 0.6s ease;
}
.active, .bars:hover{
	background: #1280c9;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade{
	from{opacity: .4;}
	to{opacity: 1;}
}
@keyframes fade{
	from{opacity: .4;}
	to{opacity: 1;}
}