*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
	font-family: sans-serif;
}
/*Wrapper*/
.wrapper{
	min-height: 100%;
}
.main{
	height: 100%;
	padding-bottom: 150px;
	overflow: auto;
}

/*footer*/

.footer{
	height: 100px;
	width: 100%;
	position: relative;
	background:#007acc;
	margin-top: -100px;
	clear: both;
}

/*Navigation*/
.navigation{
	width: 100%;
	height: 50px;
	text-align: center;
	box-shadow: 0px 1px 3px 0px #333;
	background:#007acc;
	margin-bottom: 1%;
	opacity: .9;
	position: sticky;
	top: 0;
}
button,.button{
padding: 5px;
height: 35px;
border: none;
box-shadow: 1px 1px 1px #aaa;
border-radius: 4px;
background: #007acc;
color: white;
font-size: 18px;
transition: all ease-in-out .1s;
}
button:hover,.button:hover{
	background: #1280c9;
	box-shadow: 1px 2px 8px rgb(1, 31, 65);
}
.navigation ul li{
	float: left;
	list-style: none;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 80px;
	background: #007acc;

}
.navigation ul li:hover{
	background: #13334D;
}
.navigation ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #333;
	font-family: sans-serif;
	color: white;
}

.navigation ul li ul li{
	display: none;
	width: 150px;
}
.navigation ul li:hover ul li{
	display: block;
}
/* Navigation toggle Icon */
.nav-icon{
	display: none;
	float: right;
	position: relative;
	right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.nav-icon .bar1,.nav-icon .bar2,.nav-icon .bar3{
	width: 35px;
	height: 5px;
	background: #333;
	margin: 6px 0px;

}

.site-icon{
	float: left;
	margin-right: 5%;
	font-size: 40px;
	line-height: 40px;
	height: 40px;
	text-align:center;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #aaa;
	position: relative;
	left: 1%;
	color:white;
}
@media screen and (max-width: 600px) {
	.navigation .nav ul{
		display: none;
	}
	.nav-icon{
		display: inline-block;
	}
	.nav-collapse{
		display: block;
		position: absolute;
		top: 55px;
	}

}
/*FORM STYLES */
.form-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background: #f5f2f2;
	padding: 1%;
	border-radius: 2%;
}
.form-input{
	margin: 5px;
}
.text-input{
	width: 100%;
	height: 25px;
}
.textarea{
	width: 98%;
	padding: 1%;
}
.text-center{
	text-align: center;
}
.inline-form{
	display: inline-block;
}
/* text containers */
.text-container{
	margin-top: 5px;
	width: 90%;
	padding: 2%;
	margin-right: auto;
	margin-left: auto;
	background-color:#eef6fc;
}