$color-blue-nights: #353b48;
$color-white: #ffffff;
$color-light-gray: #f7f7ff;
$black-text-color: #333;
$color-dark-gray: #f1f1f1;

$color-primary-blue: #0984e3;
$color-secondary-blue: #00a8ff;
$color-primary-grey: #a1a1a1;
$color-secondary-grey: #f1f2f6;
$color-carrot-orange: #e58e26;
$color-text-gray: #808e9b;
